h1 {
    padding-top: 5px;
    font-size: 44px;
    color: white;
    text-align: center;

  }
 
  p {
      padding-top: 32px;
  }
.container {
    margin: 10px auto;
  }
  
  #container {
    width: 460px;
    height: 720px;
    margin-top: 60px;
    background-color: rgb(44, 44, 46);
    border-radius: 20px;
  }
  
.button {
    width: 65px;
    height: 65px;
    text-align: center;
    background: rgb(99, 135, 190);
    border-radius: 6px;
    padding: 10px;
    font-size: 45px;
    transition: transform .02s
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .oper-btn {
    background: rgb(141, 223, 145);
  }
  
  #calculator-screen {
    width: 355px;
    height: 60px;
    margin-bottom: 6px;
    background: whitesmoke;
    text-align: right;
    padding-right: 24px;
    transform: none;
    margin: 6px;
  }
  
  #calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 90px);
    grid-gap: 12px;
    margin: 34px;
  }
  
